.menu {
    padding: 0;
}

.navbar-custom {
    background-color: #4db5d7cc; 
    padding: 0;
}

.navbar-custom .navbar-nav .nav-link {
    color: #fff; 
    font-size: 1.5rem; 
    margin-left: 2rem; 
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #d1d1d1; 
}

.navbar-custom .navbar-brand {
    color: #fff;
}

.navbar-custom .navbar-brand:hover {
    color: #d1d1d1; 
}

.navbar-custom .navbar-toggler {
    border-color: #fff; 
}

.navbar-custom .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="%23fff" stroke-width="2" d="M5 7h20M5 15h20M5 23h20"/%3E%3C/svg%3E'); /* Cor do ícone do menu no mobile */
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto; 
}


@media (max-width: 992px) {
    .navbar-nav {
        text-align: center; 
    }

    .navbar-nav .nav-item {
        margin: 0; 
    }

    .navbar-custom .navbar-nav .nav-link {
        font-size: 1.2rem; 
        padding: 1rem 2rem; 
    }
}

.body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fundo {
    background-image: url('../../portifolio/img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100%;
    width: 100%;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    z-index: -1;
}

.conteudo {
    position: relative;
    z-index: 1;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   padding: 0.1vh;
}

.espacoTop {
   
    padding-top: 3rem;
}

.img {
    opacity: 0.8;
    height: 50vh;
    width: 100%;
}

.square {
    width: 100%;
    height: 100%;
    background-color: #4db5d7cc;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quadrado {
    padding: 10%;
}

.text-highlight {
    background-color: #00000099; 
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}


/*conhecimento e formação*/

table {
    background-color: #4db4d7c3;

}
th, td {
    border: 1px solid #000000cc;
    text-align: center; 
    color: #ffffff;
    vertical-align: middle;
    
}
th {
    background-color: #4db4d7c3;
    text-align: center; 
}

form .form-control {
    background-color: #ffffffb3;
    color: #000;
    border: 1px solid #ddd;
}

form .form-control:focus {
    border-color: #4db5d7cc;
    box-shadow: none;
}

.link-black {
    color: black;
}

.link-black:hover {
    color: black; /* Mantém a cor preta quando o mouse passa por cima */
}


